.color-blue {
    color: #2494ff;
}

.post-title {
    color: black;
    user-select: text;
}

.post-upload-date {
    font-size: 14px;
    margin-top: 10px;
}

.post-area {
    padding-top: 35px;
}

.post-area * {
    font-family: sans-serif;
    margin: 10px 0 10px 0;
}

.post-area p {
    font-size: 16px;
    line-height: 18px;
}

.post-area .code {
    width: fit-content;
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 5px;
}

.post-area .code p {
    margin: 0;
    background-color: rgba(0, 0, 0, 0);
}

.post-area blockquote {
    border-left: solid black 3px;
    padding-left: 10px;
}
